body {
    font-family: "Montserrat";
}

#title {
    background: rgb(247,18,109);
    background: linear-gradient(90deg, rgba(247,18,109,1) 0%, rgba(252,9,106,1) 26%, rgba(247,18,109,1) 38%, rgba(215,0,72,1) 67%);
    color: aliceblue;
}

.container-fluid {
 padding: 3% 15% 7%;
}

h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    
}

h3 {
    font-family: "Sans-serif";
    font-size:1.5rem;
    font-weight: 200;
    font-style: italic;

}

p {
    color: #8f8f8f;
}
/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}


.navbar-brand {
    font-family: "Ubunto";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons  */

.download-button {
    margin: 5% 4% 5% 0%;
}

/* Title Image  */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features Section  */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}

.feature1 {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #f24832;
    padding: 1rem;
}
.icon:hover {
    color:#e3175b;
}

/* Testimonial Section  */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: aliceblue;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin: 20px 20px 50px;
    height: auto;
    width:100px;
}

/* Pricing  */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

.card {
    border: 5px solid rgb(227,23,91);
    padding: 8px;
    border-style: rounded;
}




/* Call to Action */

#cta {
    background: rgb(247,18,109);
    background: linear-gradient(90deg, rgba(247,18,109,1) 0%, rgba(252,9,106,1) 26%, rgba(247,18,109,1) 38%, rgba(215,0,72,1) 67%);
    text-align: center;
    padding: 7% 15%;
    color:aliceblue;
    }

.cta-heading {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer  */

#footer {
    text-align: center;
    padding: 7% 15%;
    
}

.social-icon {
    margin:20px 10px;
}

@media (max-width: 1028px) {
    
    #title {
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}